<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
>

<div layout:fragment="body">
    <script>

    </script>
    <form id="broadcaster" method="post">
        <label>From Username:</label>
        <input type="tags" name="fromUsername" required><br>

        <label>Tags:</label>
        <input type="tags" name="tags" required><br>

        <label>Subject:</label>
        <input type="text" name="subject" required><br>

        <label>Body:</label>
        <textarea id="message" name="body" rows="4" cols="50" required></textarea><br>

        <button type="button" onclick="(function() {postForm('/api/broadcast', 'broadcaster', 'broadcast-out')})()">Submit</button>
    </form>
    <p id="broadcast-out"></p>
</div>


</html>