<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
>
<div layout:fragment="body">
    <div id="scheduler">
        <div>
            <h2>Scheduled broadcasts</h2>
            <ol id="broadcast-list">
                <li><a>2019-01-01: email1</a></li>
                <li><a>2019-01-02: email2</a></li>
                <li><a>2019-01-03: email3</a></li>
            </ol>
        </div>
        <div>
            <form id="schedulerForm" method="post">
                <label>Date:</label>
                <input type="date"/>

                <label>Tags:</label>
                <input type="tags" name="tags" required><br>

                <label>Subject:</label>
                <input type="text" name="subject" required><br>

                <label>Body:</label>
                <textarea rows="4" cols="50" required></textarea><br>
                <button type="button" onclick="(function() {postForm('/schedule', 'schedulerForm')})()">Schedule</button>
            </form>
        </div>
    </div>
</div>
</html>