<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
>
<div layout:fragment="body">
    <h3>Rename title</h3>
    <form id="rename-title" method="post">
        <label>Title:</label>
        <input type="text" name="title" required autofocus>
        <button type="button" onclick="(function() {postForm('/api/rename-title', 'rename-title', 'title-response')})()">Submit</button>
    </form>
    <p id="title-response"></p>
<!--    -->
    <h3>Change owner name</h3>
    <form id="rename-owner" method="post">
        <label>Owner:</label>
        <input type="text" name="ownerName" required autofocus>
        <button type="button" onclick="(function() {postForm('/api/rename-owner', 'rename-owner', 'owner-response')})()">Submit</button>
    </form>
    <p id="owner-response"></p>
<!--    -->
    <h3>Change email</h3>
    <form id="rename-email" method="post">
        <label>Email:</label>
        <input type="text" name="email" required autofocus>
        <button type="button" onclick="(function() {postForm('/api/rename-email', 'rename-email', 'email-response')})()">Submit</button>
    </form>
    <p id="email-response"></p>
<!--    -->
    <h3>Change password</h3>
    <form id="rename-password" method="post">
        <label>password:</label>
        <input type="text" name="password" required autofocus>
        <button type="button" onclick="(function() {postForm('/api/rename-password', 'rename-password', 'password-response')})()">Submit</button>
    </form>
    <p id="password-response"></p>
<!--    -->
    <h1>Setup Email Newsletter</h1>
    <form id="email-form" method="post">
        <label>Email Nickname:</label>
        <input type="text" name="username" required autofocus>
        <br>
        <label>Email:</label>
        <input type="text" name="email" required autofocus>
        <br>
        <label>Host:</label>
        <input type="text" name="host" required autofocus>
        <br>
        <label>Port:</label>
        <input type="text" name="port" required autofocus>
        <br>
        <label>Protocol:</label>
        <input type="text" name="protocol" required autofocus>
        <br>
        <label>SMTP Auth:</label>
        <input type="checkbox" name="smtpAuth" required autofocus>
        <br>
        <label>TLS Enable:</label>
        <input type="checkbox" name="enableTLS" required autofocus>
        <br>
        <label>SSL Enable:</label>
        <input type="checkbox" name="enableSSL" required autofocus>
        <br>
        <label>Password:</label>
        <input type="password" name="password" required>
        <br>
        <button type="button" onclick="(function() {postForm('/api/setup-newsletter-email', 'email-form', 'setup-email-response')})()">Submit</button>
    </form>
    <p id="setup-email-response"></p>
<!--    -->
    <button onclick="confirmDelete()">Delete newsletter</button>
    <p id="confirmation-text" style="color: orange; display: none">
        Are you sure?
    </p>
    <script th:src="@{/js/settings.js}" type="text/javascript"></script>
</div>
</html>