<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
>
<div layout:fragment="body">
    <h2>Add subscriber</h2>
    <form id="addSubscriber" method="post">
        <label>Email:</label>
        <input type="email" name="email" required><br>

        <label>First Name:</label>
        <input type="text" name="firstName" required><br>
        <button type="button" onclick="(function() {postForm('/api/add-subscriber', 'addSubscriber', 'test-out')})()">Submit</button>
    </form>
    <h2>Remove subscriber</h2>
    <form id="removeSubscriber" method="post">
        <label>Email:</label>
        <input type="email" name="email" required><br>
        <button type="button" onclick="(function() {postForm('/api/remove-subscriber', 'removeSubscriber', 'test-out')})()">Submit</button>
    </form>
    <p id="test-out"></p>
</div>
</html>