/* styles.css */

body {
    background-color: #1e1e1e;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
}

nav {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icon {
    width: auto;
    height: 30px;
    margin-right: 10px;
}

.nav-links {
    display: flex;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

h1, h2, h3 {
    color: #61dafb;
}

form {
    margin-bottom: 20px;
}

label {
    color: #61dafb;
}

input, textarea, button {
    background-color: #333;
    color: #fff;
    border: 1px solid #61dafb;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
}

#subscriber-manager, #scheduler, #written-emails-list {
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
}

ol {
    list-style: none;
    padding: 0;
}

ol li {
    margin-bottom: 10px;
}

textarea {
    width: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
